@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(180deg, #fff6e7 0%, #6192c4 100%);
}

.music-player {
  align-self: center;
  margin: auto;
  display: block;
  width: 472px;
  height: 515px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #6192c4;
}


// First Part
.player-main {
  position: relative;
  width: 100%;
  min-width: 472px;
  padding: 24px;
  box-sizing: border-box;
}

.main-current {
  margin-bottom: 15px;

  .current-keyvisual {
    position: relative;
    display: inline-block;

    img {
      position: relative;
      z-index: 2;
      width: 132px;
      height: auto;
      border-radius: 4px;
    }
  }

  .current-info {
    display: inline-block;
    padding: 15px 0 0 24px;
    box-sizing: content-box;
    vertical-align: top;

    h1, p {
      margin: auto;
      padding: 0;
      color: white;
    }

    h1 {
      margin-bottom: 13px;
      font-size: 20px;
    }

    p {
      font-size: 12px;
    }
  }
}

.main-control {
  position: relative;
  line-height: 0;

  .btn {
    display: inline-block;
    width: 30px;
    height: 25px;
    vertical-align: middle;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    opacity: .75;

    &:hover {
      opacity: 1;
    }

    &._previous {
      margin-right: 17px;
    }

    &._play {
      margin-right: 17px;
    }

    &._repeat {
      margin-right: 17px;
    }

    &._shuffle {
      margin-right: 17px;
    }

    &._next {
      margin-right: 17px;
    }

    &._music-box {
      margin-top: 17px;
    }
  }
}

input[type="range"] {
  -webkit-appearance: none !important;
  appearance: none;
  margin: 0px;
  padding: 0px;
  background: #f2eae4;
  height: 10px;
  width: 130px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #0080ff;
  height: 10px;
  width: 10px;
  border-radius: 10%;
  box-shadow: -100vw 0 0 100vw #6eb6ff;
}

.music-box {
  position: absolute;
  left: 50%;
  margin-top: 5px;
  transform: translateX(-50%);

  input[type="range"] {
    height: 5px;
    width: 340px;
    margin: 0 0 10px 0;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 5px;
    width: 7px;
  }
  .current-time {
    position: absolute;
    left: -35px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #ffffff;
  }
  .duration {
    position: absolute;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: #ffffff;
  }
}




// Second Part
.player-list {
  min-width: 472px;
  padding: 24px;
  list-style: none;
  color: white;
  
  li {
    margin-bottom: 18px;
    cursor: pointer;
    
    .list-cover,
    .list-info,
    .list-duration,
    .list-duration2,
    .list-duration3,
    .list-duration4,
    .list-group,
    .list-play {
      display: inline-block;
      vertical-align: middle;

      &.list-cover {
        margin-right: 9px;
        width: 39px;
        height: auto;
        border-radius: 100%;
      }

      &.list-duration{
        margin-left: 50px;
      }

      &.list-duration2{
        margin-left: 84px;
      }

      &.list-duration3{
        margin-left: 92px;
      }

      &.list-duration4{
        margin-left: 88px;
      }

      &.list-group{
        margin-left: 50px;
      }

      &.list-play{
        margin-left: 50px;
      }

      &.list-info {
        .info-title {
          margin-bottom: 3px;
          font-size: 12px;
        }
        
        .info-artist {
          font-size: 10px;
        }
      }
    } 
  
    &:last-child {
      margin-bottom: 0;
    }
  }
}