@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, #fff6e7 0%, #6192c4 100%);
}

.music-player {
  align-self: center;
  margin: auto;
  display: block;
  width: 472px;
  height: 515px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #6192c4;
}

.player-main {
  position: relative;
  width: 100%;
  min-width: 472px;
  padding: 24px;
  box-sizing: border-box;
}

.main-current {
  margin-bottom: 15px;
}
.main-current .current-keyvisual {
  position: relative;
  display: inline-block;
}
.main-current .current-keyvisual img {
  position: relative;
  z-index: 2;
  width: 132px;
  height: auto;
  border-radius: 4px;
}
.main-current .current-info {
  display: inline-block;
  padding: 15px 0 0 24px;
  box-sizing: content-box;
  vertical-align: top;
}
.main-current .current-info h1, .main-current .current-info p {
  margin: auto;
  padding: 0;
  color: white;
}
.main-current .current-info h1 {
  margin-bottom: 13px;
  font-size: 20px;
}
.main-current .current-info p {
  font-size: 12px;
}

.main-control {
  position: relative;
  line-height: 0;
}
.main-control .btn {
  display: inline-block;
  width: 30px;
  height: 25px;
  vertical-align: middle;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  opacity: 0.75;
}
.main-control .btn:hover {
  opacity: 1;
}
.main-control .btn._previous {
  margin-right: 17px;
}
.main-control .btn._play {
  margin-right: 17px;
}
.main-control .btn._volume {
  margin-right: 10px;
}
.main-control .btn._repeat {
  margin-right: 17px;
  margin-left: 17px;
}
.main-control .btn._repeat.active {
  filter: brightness(0) saturate(100%) hue-rotate(180deg);
  transition: background-color 0.3s, color 0.3s;
}
.main-control .btn._next {
  margin-right: 17px;
}
.main-control .btn._music-box {
  margin-top: 17px;
}

input[type=range] {
  -webkit-appearance: none !important;
  -moz-appearance: none;
       appearance: none;
  margin: 0px;
  padding: 0px;
  background: #f2eae4;
  height: 10px;
  width: 130px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #0080ff;
  height: 10px;
  width: 10px;
  border-radius: 10%;
  box-shadow: -100vw 0 0 100vw #6eb6ff;
}

.music-box {
  position: absolute;
  left: 50%;
  margin-top: 5px;
  transform: translateX(-50%);
}
.music-box input[type=range] {
  height: 5px;
  width: 340px;
  margin: 0 0 10px 0;
}
.music-box input[type=range]::-webkit-slider-thumb {
  height: 5px;
  width: 7px;
}
.music-box .current-time {
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #ffffff;
}
.music-box .duration {
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #ffffff;
}

.player-list {
  min-width: 472px;
  padding: 24px;
  list-style: none;
  color: white;
}
.player-list li {
  margin-bottom: 18px;
  cursor: pointer;
}
.player-list li .list-cover,
.player-list li .list-info,
.player-list li .list-duration,
.player-list li .list-duration2,
.player-list li .list-duration3,
.player-list li .list-duration4,
.player-list li .list-group,
.player-list li .list-play {
  display: inline-block;
  vertical-align: middle;
}
.player-list li .list-cover.list-cover,
.player-list li .list-info.list-cover,
.player-list li .list-duration.list-cover,
.player-list li .list-duration2.list-cover,
.player-list li .list-duration3.list-cover,
.player-list li .list-duration4.list-cover,
.player-list li .list-group.list-cover,
.player-list li .list-play.list-cover {
  margin-right: 9px;
  width: 39px;
  height: auto;
  border-radius: 100%;
}
.player-list li .list-cover.list-duration,
.player-list li .list-info.list-duration,
.player-list li .list-duration.list-duration,
.player-list li .list-duration2.list-duration,
.player-list li .list-duration3.list-duration,
.player-list li .list-duration4.list-duration,
.player-list li .list-group.list-duration,
.player-list li .list-play.list-duration {
  margin-left: 50px;
}
.player-list li .list-cover.list-duration2,
.player-list li .list-info.list-duration2,
.player-list li .list-duration.list-duration2,
.player-list li .list-duration2.list-duration2,
.player-list li .list-duration3.list-duration2,
.player-list li .list-duration4.list-duration2,
.player-list li .list-group.list-duration2,
.player-list li .list-play.list-duration2 {
  margin-left: 84px;
}
.player-list li .list-cover.list-duration3,
.player-list li .list-info.list-duration3,
.player-list li .list-duration.list-duration3,
.player-list li .list-duration2.list-duration3,
.player-list li .list-duration3.list-duration3,
.player-list li .list-duration4.list-duration3,
.player-list li .list-group.list-duration3,
.player-list li .list-play.list-duration3 {
  margin-left: 92px;
}
.player-list li .list-cover.list-duration4,
.player-list li .list-info.list-duration4,
.player-list li .list-duration.list-duration4,
.player-list li .list-duration2.list-duration4,
.player-list li .list-duration3.list-duration4,
.player-list li .list-duration4.list-duration4,
.player-list li .list-group.list-duration4,
.player-list li .list-play.list-duration4 {
  margin-left: 88px;
}
.player-list li .list-cover.list-group,
.player-list li .list-info.list-group,
.player-list li .list-duration.list-group,
.player-list li .list-duration2.list-group,
.player-list li .list-duration3.list-group,
.player-list li .list-duration4.list-group,
.player-list li .list-group.list-group,
.player-list li .list-play.list-group {
  margin-left: 50px;
}
.player-list li .list-cover.list-play,
.player-list li .list-info.list-play,
.player-list li .list-duration.list-play,
.player-list li .list-duration2.list-play,
.player-list li .list-duration3.list-play,
.player-list li .list-duration4.list-play,
.player-list li .list-group.list-play,
.player-list li .list-play.list-play {
  margin-left: 50px;
}
.player-list li .list-cover.list-info .info-title,
.player-list li .list-info.list-info .info-title,
.player-list li .list-duration.list-info .info-title,
.player-list li .list-duration2.list-info .info-title,
.player-list li .list-duration3.list-info .info-title,
.player-list li .list-duration4.list-info .info-title,
.player-list li .list-group.list-info .info-title,
.player-list li .list-play.list-info .info-title {
  margin-bottom: 3px;
  font-size: 12px;
}
.player-list li .list-cover.list-info .info-artist,
.player-list li .list-info.list-info .info-artist,
.player-list li .list-duration.list-info .info-artist,
.player-list li .list-duration2.list-info .info-artist,
.player-list li .list-duration3.list-info .info-artist,
.player-list li .list-duration4.list-info .info-artist,
.player-list li .list-group.list-info .info-artist,
.player-list li .list-play.list-info .info-artist {
  font-size: 10px;
}
.player-list li:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  body {
    background: linear-gradient(180deg, #fff6e7 0%, #6192c4 100%);
  }
  .music-player {
    width: 100%; /* Заполнить всю доступную ширину */
    max-width: none; /* Убрать максимальную ширину */
    margin: 0;
    border-radius: 50px; /* Убрать скругление углов */
  }
  .player-main {
    min-width: auto; /* Убрать минимальную ширину */
  }
  .main-control .btn._music-box {
    margin-top: 14px;
  }
  .main-control .btn {
    width: 20px;
  }
  .music-box input[type=range] {
    width: 300px;
  }
  .player-list {
    min-width: 200px;
  }
  .player-list li .list-cover.list-duration, .player-list li .list-info.list-duration, .player-list li .list-duration.list-duration, .player-list li .list-duration2.list-duration, .player-list li .list-duration3.list-duration, .player-list li .list-duration4.list-duration, .player-list li .list-group.list-duration, .player-list li .list-play.list-duration {
    margin-left: 20px;
  }
  .player-list li .list-cover.list-duration2, .player-list li .list-info.list-duration2, .player-list li .list-duration.list-duration2, .player-list li .list-duration2.list-duration2, .player-list li .list-duration3.list-duration2, .player-list li .list-duration4.list-duration2, .player-list li .list-group.list-duration2, .player-list li .list-play.list-duration2 {
    margin-left: 55px;
  }
  .player-list li .list-cover.list-duration3, .player-list li .list-info.list-duration3, .player-list li .list-duration.list-duration3, .player-list li .list-duration2.list-duration3, .player-list li .list-duration3.list-duration3, .player-list li .list-duration4.list-duration3, .player-list li .list-group.list-duration3, .player-list li .list-play.list-duration3 {
    margin-left: 62px;
  }
  .player-list li .list-cover.list-duration4, .player-list li .list-info.list-duration4, .player-list li .list-duration.list-duration4, .player-list li .list-duration2.list-duration4, .player-list li .list-duration3.list-duration4, .player-list li .list-duration4.list-duration4, .player-list li .list-group.list-duration4, .player-list li .list-play.list-duration4 {
    margin-left: 58px;
  }
  .player-list li .list-cover.list-group, .player-list li .list-info.list-group, .player-list li .list-duration.list-group, .player-list li .list-duration2.list-group, .player-list li .list-duration3.list-group, .player-list li .list-duration4.list-group, .player-list li .list-group.list-group, .player-list li .list-play.list-group {
    margin-left: 40px;
  }
  .player-list li .list-cover.list-play, .player-list li .list-info.list-play, .player-list li .list-duration.list-play, .player-list li .list-duration2.list-play, .player-list li .list-duration3.list-play, .player-list li .list-duration4.list-play, .player-list li .list-group.list-play, .player-list li .list-play.list-play {
    margin-left: 40px;
  }
}/*# sourceMappingURL=style.css.map */